# Jupyter
.ipynb_checkpoints

# Mac computers
.DS_Store

# Python
*/__pycache__/
*/env/



# LaTeX projects
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Visual Studio Code
.vscode/